<div class="row">
  <div class="col-12">
    <input [(ngModel)]='ingredient.name' type="text" placeholder="name" style="margin: 1px;">
  </div>
  <div class="col-12">
    <textarea [(ngModel)]='ingredient.description' name="description" id="description" cols="30" rows="10"
      placeholder="description" style="margin: 1px;"></textarea>
  </div>
  <div class="col-12">
    <input [(ngModel)]='ingredient.halal' type="checkbox" name="halal" id="halal"> Halal ?
  </div>
  <div class="col-12">
    <button class="btn btn-danger" style="margin: 1px;">Cancel</button>
    <button (click)="addIngredient()" class="btn btn-success" style="margin: 1px;">Submit</button>
  </div>
</div>
